header {
    background: red;
    border: solid black;
}

body {
    background: blue;
    border: solid black;
    /*
    font-family: 'Droid Sans', sans-serif;
    */
}

main {
    background: white;
    border: solid black;
}

footer {
    background: green;
    border: solid black;
}

.job {
    background: lavender;
    border: solid black;
}

.title {
    background: yellow;
    border: solid black;
}

.education {
    background: seagreen;
    border: solid black;
}

.certification {
    background: violet;
    border: solid black;
}