header {
    background: red;
    border: solid black;
}

body {
    background: blue;
    border: solid black;
    font-family: 'Droid Sans', sans-serif;
}

main {
    background: white;
    border: solid black;
}

footer {
    background: green;
    border: solid black;
}
